/data/annotations/
/constitution.txt
/demo.ipynb
/wordcloud2.svg
/wordcloud.pdf
/plots/word_cloud_plot.py
/text.txt
/plots/plot_feature_pca.py
/draft
/build/
/scene_recognition_pytorch.egg-info/
/logs/
/plots/
