DATASET:
  NAME: MITIndoor67
  ROOT: /home/paul/datasets/MITIndoor67
  TRAIN: train
  VAL: val
  NUM_CATEGORY: 67

MODEL:
  ARCH: 50
  NUM_FEATURES: 2048
  CHECKPOINTS: ./checkpoints
  WITH_ATTRIBUTE: True
  ARM: False

TRAINING:
  EPOCH: 100
  BATCH_SIZE: 64
  LOG_DIR: ./logs

TESTING:
  BATCH_SIZE: 64
  CHECKPOINT: 100
  TEN_CROPS: False